#container{
    width: 1500px;
    height: 780px;
    margin: 2px;
    background-color: rgb(60, 92, 147);
    display: flex;
    align-items: center;
}
#main{
    width: 1200px;
    height: 750px;
    background-color: white;
    /* background-image: url(./images/ClubSpace\ logo.png); */
    /* background-size: cover; */
    border-radius: 10px;
    margin-left: 20vw;
    padding-left: 20px;
    color: rgb(60, 92, 147);
    font-family: Arial, Helvetica, sans-serif;
}
header p{
    display: inline-block;
    margin-right: 750px;
}
header a{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
#main p{
    font-size: 28px;
}
#main h2{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#club{
    width: 350px;
    height: 100px;
    background-color: rgb(185, 233, 239);
    margin-bottom: 25px;
    border-radius: 7px;
    color: black;
    display: flex;
    align-items: center;
}
#club img{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    position: relative;
    right: 10px;
    margin-left: 25px;
}

#club p{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
}

#explore{
    width: 200px;
    height: 30px;
    background-color: rgb(45, 74, 137);
    border-radius: 5px;
    color: white;
    position: relative;
    left: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#logo{
    width: 400px;
    height: 600px;
    position: relative;
    left: 350px;
    bottom: 550px;
    /* background-image: url(./images/ClubSpace\ logo.png); */
    background-size: cover;
}